.about {
    .content {
      padding: 30px 0;
  
      h3 {
        font-weight: 500;
        font-size: 34px;
      }
  
      p {
        margin-bottom: 1rem;
      }
      ul{
        list-style: none;
        padding: 0;
        li{
          padding: 0 0 8px 26px;
          position: relative;
          i {
            position: absolute;
            font-size: 20px;
            left: 0;
            top: -3px;
            color: $yellow-color;
          }
        }
      }
  
      
    }
  
    .image {
      background: url("../img/about.jpg") center center no-repeat;
      background-size: cover;
      min-height: 400px;
      filter: grayscale(1);
  
      @media (max-width: 991px) {
        text-align: center;
  
        img {
          max-width: 80%;
        }
      }
  
      @media (max-width: 667px) {
        img {
          max-width: 100%;
        }
      }
    }
  }
  